# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd
*.vscode


# db realted files
*audio_chunks/
*audio_sessions.db

#model
*whisper-tiny-ar-quran-local/

# Environment files
*venv
*.venv
*.env
*.env.*
!*.example



